In [21]:
# Dependencies and Setup
import pandas as pd

# File to Load. After copying path I have to remember to replace / with \\ because i'm using a windows
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
# Use .tab to view more read_ options like html, clipboard, dict etc
gamer_data = pd.read_csv(file_to_load)
gamer_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [22]:
# First step is to find the unique players by using .unique()
unique_players = gamer_data["SN"].unique()
unique_players

# If I just use .count this will show me a count breakdown of varables in both columns and rows
# If I use .count() this will show me a total count of each column only. This put me a step closer to solving for play count
# The unique output gave me an array. so I saved it as a series
unique_players_count = pd.Series(unique_players).count()
unique_players_count

# Now that I have a series with a count, I can create a dataframe
total_players = pd.DataFrame({"Total Player" : [unique_players_count]})
total_players

   Total Player
0           576

In [23]:
# Now I am going to use the same steps to find unique players to find the items
unique_items = gamer_data["Item ID"].unique()
unique_items

# Saving an array as a dataframe. I get the total of 179 here, but the "HeroesOfPymolistarter" notes shows 183??
unique_items_count = pd.Series(unique_items).count()
unique_items_count

183

In [24]:
# Finding the sum price here
total_revenue = gamer_data["Price"].sum()
total_revenue

2379.77

In [25]:
# Finding the count of price
total_purchases_count = gamer_data["Price"].count()
total_purchases_count

780

In [26]:
# Basic average of price
average_price = total_revenue / total_purchases_count
average_price

3.0509871794871795

In [27]:
unique_items_table = pd.DataFrame({"Number of Unique Items" : [unique_items_count], "Average Price" : [average_price], "Number of Purchases" : [total_purchases_count], "Total Revenue" : [total_revenue]})
unique_items_table

unique_items_table["Average Price"] = unique_items_table["Average Price"].map("${:.2f}".format)
unique_items_table["Total Revenue"] = unique_items_table["Total Revenue"].map("${:.2f}".format)
unique_items_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [28]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

# At first solve for total count and index by list values. WRONG
# Then I try counting the gender, find a unique gamers. WRONG
# What worked best was "FILTERING" per gender
gender_male_filter = gamer_data.loc[(gamer_data["Gender"] == "Male"), :]
gender_male_filter

# Now I am able to find the amount of unique gamers using the unique name
gender_male_filter_unique = gender_male_filter["SN"].unique()
gender_male_filter_unique

# Now count how many male gamers there are
total_male_gamers = pd.Series(gender_male_filter_unique).count()
total_male_gamers

484

In [29]:
# Repeat steps for males to solve for Females

# What worked best was "FILTERING" per gender
gender_female_filter = gamer_data.loc[(gamer_data["Gender"] == "Female"), :]
gender_female_filter

# Now I am able to find the amount of unique gamers using the unique name
gender_female_filter_unique = gender_female_filter["SN"].unique()
gender_female_filter_unique

# Now count how many female gamers there are
total_female_gamers = pd.Series(gender_female_filter_unique).count()
total_female_gamers

81

In [30]:
# Repeat steps for males to solve for Other / Non-Disclosed

# What worked best was "FILTERING" per gender
gender_ond_filter = gamer_data.loc[(gamer_data["Gender"] == "Other / Non-Disclosed"), :]
gender_ond_filter

# Now I am able to find the amount of unique gamers using the unique name
gender_ond_filter_unique = gender_ond_filter["SN"].unique()
gender_ond_filter_unique

# Now count how many female gamers there are
total_ond_gamers = pd.Series(gender_ond_filter_unique).count()
total_ond_gamers

11

In [31]:
# Finding the total amount of gamers so that I am able to find individual gender percentage
total_gamers = total_male_gamers + total_female_gamers + total_ond_gamers
total_gamers

# Solving for male percentages
percentage_male_gamers = total_male_gamers / total_gamers
percentage_male_gamers

# Solving for female percentages
percentage_female_gamers = total_female_gamers / total_gamers
percentage_female_gamers

# Solving for Other / Non-Disclosed
percentage_ond_gamers = total_ond_gamers / total_gamers
percentage_ond_gamers

0.019097222222222224

In [32]:
gender_demographics = pd.DataFrame({"Total Count" : [total_male_gamers, total_female_gamers, total_ond_gamers], "Percentage_of_Players" : [percentage_male_gamers, percentage_female_gamers, percentage_ond_gamers]}, index = ["Male", "Female", "Other / Non-Disclosed"])
gender_demographics

gender_demographics["Percentage_of_Players"] = gender_demographics["Percentage_of_Players"].map("{0:,.2%}".format)
gender_demographics

                       Total Count Percentage_of_Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [33]:
# Purchasing Analysis (Gender)Â¶

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

# Using groupby to obtain purchase count by gender
grouped_gender_data_df = gamer_data.groupby(['Gender']).count()
grouped_gender_data_df

# Apply filter for Purchase ID.
filtered_purchase_count = grouped_gender_data_df['Purchase ID']
filtered_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

For my next steps I will repeat above

In [49]:
filtered_price_count = grouped_gender_data_df['Price']
filtered_price_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [50]:
grouped_gender_sum_df = gamer_data.groupby(['Gender']).sum()
grouped_gender_sum_df

filtered_price_sum = grouped_gender_sum_df['Price']
filtered_price_sum

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [51]:
# Finding the average price using objects price-sum and price-count. This will be a column in my DataFrame
average_purchased_price = filtered_price_sum / filtered_price_count
average_purchased_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [52]:
grouped_gender_nunique_df = gamer_data.groupby(['Gender']).nunique()
grouped_gender_nunique_df

# Here I had to use nunique to find per person
filtered_sn_nunique = grouped_gender_nunique_df['SN']
filtered_sn_nunique

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [53]:
# Finding the average total purchase per person using objects price sum and nunique people
grouped_gender_sum_df = gamer_data.groupby(['Gender']).sum()
filtered_price_sum = grouped_gender_sum_df['Price']
filtered_sn_nunique = grouped_gender_nunique_df['SN']

avg_total_purchase_per_person = filtered_price_sum / filtered_sn_nunique
avg_total_purchase_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [46]:
purchasing_analysis = pd.DataFrame({"Purchase Count" : filtered_purchase_count, "Average Purchase Price": average_purchased_price, "Total Price Value" : filtered_price_sum, "Avg Total Purcahse Per Person" : avg_total_purchase_per_person}, index = ["Female","Male","Other / Non-Disclosed"])
purchasing_analysis

# Here I was excited to finally learn to format by $ and %. 
purchasing_analysis["Average Purchase Price"] = purchasing_analysis["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis["Total Price Value"] = purchasing_analysis["Total Price Value"].map("${:.2f}".format)
purchasing_analysis["Avg Total Purcahse Per Person"] = purchasing_analysis["Avg Total Purcahse Per Person"].map("${:.2f}".format)
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Price Value,Avg Total Purcahse Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

Age Demographics

In [ ]:
# Categorize the existing players using the age bins. Hint: use pd.cut()
# This dataframe filter for my unique value when I grouped by SN
gamer_data_gb_sn = gamer_data.groupby(["SN"]).max()
gamer_data_gb_sn_df = pd.DataFrame(gamer_data_gb_sn)
gamer_data_gb_sn_df

raw_gamer_data_percent = gamer_data_gb_sn_df["Age"] / gamer_data_gb_sn_df["Age"].count()

# Set dataframe for binning
raw_gamer_data = {"Total Count" : gamer_data_gb_sn_df["Age"], "Percent of Players" : raw_gamer_data_percent}
gamer_age_df = pd.DataFrame(raw_gamer_data)
gamer_age_df

In [ ]:
# At first I made the mistake of [0, 10, 15, 20 etc]
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Creating names for my bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
group_names

In [ ]:
# This is where the binning happens. I have to keep in mind "Test Score Summary" is being appending to the dataframe with bin values
gamer_age_df["Age Ranges"] = pd.cut(gamer_age_df["Total Count"], bins, labels=group_names)
gamer_age_df

In [ ]:
# Now that I have my binning table. I can groupby
age_demo = gamer_age_df.groupby(["Age Ranges"]).count()
age_demo

age_gb_total = age_demo["Total Count"]
age_gb_total

In [ ]:
# This part sucked the most! Spent to many hours on this part. It has to be a better way.

age_demo = gamer_age_df.groupby(["Age Ranges"]).count()
age_demo

age_gb_sum = age_demo["Percent of Players"].sum()
age_gb_sum

# This part was confusing because I did this calculation within my setup block \ 
# and now have to do it again. I'll have to come back to this and get a better understanding.
# The only different here I didn't have to use the count function
age_gb_df = age_demo / age_gb_sum
age_gb_percent = age_gb_df["Percent of Players"]
age_gb_percent

In [929]:
age_demographics = pd.DataFrame({"Total Count": age_gb_total, "Percentage of Players": age_gb_percent})

age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{0:,.2%}".format)
age_demographics

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

Purchasing Analysis (Age)

In [ ]:
raw_age_data = {"Purchase ID": gamer_data['Purchase ID'], "SN": gamer_data['SN'], "Gender": gamer_data['Gender'], "Item ID": gamer_data['Item ID'], "Item Name": gamer_data['Item Name'], "Price": gamer_data['Price'], "Age": gamer_data['Age']}
raw_age_data_df = pd.DataFrame(raw_age_data)
raw_age_data_df

In [ ]:
# At first I made the mistake of [0, 10, 15, 20 etc]
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Creating names for my bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
group_names

In [ ]:
# This is where the binning happens. I have to keep in mind "Test Score Summary" is being appending to the dataframe with bin values
raw_age_data_df["Age Ranges"] = pd.cut(raw_age_data_df["Age"], bins, labels=group_names)
raw_age_data_df.head()

In [ ]:
# Solving to count the Purchase ID so I can use it for me percent later
gb_age_nun = raw_age_data_df.groupby('Age Ranges').nunique()

fil_age_nun_purcID = gb_age_nun['Purchase ID']
fil_age_nun_purcID

In [ ]:
# Solving for my total and also for my avg price percentage
gb_age_sum = raw_age_data_df.groupby('Age Ranges').sum()
gb_age_sum

fil_age_sum_price = gb_age_sum['Price']
fil_age_sum_price

In [ ]:
gb_age_count = raw_age_data_df.groupby('Age Ranges').count()

fil_age_count = gb_age_count['Age']
fil_age_count

In [ ]:
avg_purc_price = gb_age_sum_price / fil_age_count
avg_purc_price

In [ ]:
fil_age_sn = gb_age_nun['SN']
fil_age_sn

In [ ]:
avg_tot_purc_per_person = fil_age_sum_price / fil_age_sn
avg_tot_purc_per_person

In [1107]:
purc_age_bin = {"Purchase Count" : fil_age_nun_purcID, "Average Purchase Price": avg_purc_price, "Total Price Value" : fil_age_sum_price, "Avg Total Purcahse Per Person" : avg_tot_purc_per_person}
purchasing_analysis_age = pd.DataFrame(purc_age_bin)
purchasing_analysis_age

# Here I was excited to finally learn to format by $ and %. 
purchasing_analysis_age ["Average Purchase Price"] = purchasing_analysis_age ["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_age ["Total Price Value"] = purchasing_analysis_age ["Total Price Value"].map("${:.2f}".format)
purchasing_analysis_age ["Avg Total Purcahse Per Person"] = purchasing_analysis_age ["Avg Total Purcahse Per Person"].map("${:.2f}".format)
purchasing_analysis_age

,Purchase Count,Average Purchase Price,Total Price Value,Avg Total Purcahse Per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

Top Spenders

In [ ]:
# Create a Dataframe with columns puchcase ID, SN and Price
# Set is as a dataframe in order to filter using loc
raw_sp_data = {"Purchase ID": gamer_data['Purchase ID'], "SN": gamer_data['SN'], "Price": gamer_data['Price']}
raw_sp_data_df = pd.DataFrame(raw_age_data)
raw_sp_data_df.head()

In [ ]:
# Use loc to filter. Now I am going to use Groupby to sort
only_spend = raw_sp_data_df.loc[(raw_sp_data_df["SN"] == "Lisosia93") | (raw_sp_data_df["SN"] == "Idastidru52") | \
                                (raw_sp_data_df["SN"] == "Chamjask73") | (raw_sp_data_df["SN"] == "Iral74") | \
                                (raw_sp_data_df["SN"] == "Iskadarya95"),:]
sn_loc_df = pd.DataFrame(only_spend)
sn_loc_df

In [ ]:
# solving for Purchave count
sn_loc_count = sn_loc_df.groupby('SN').count()
sn_loc_count

sn_purchase_count = sn_loc_count['Purchase ID']
sn_purchase_count

In [ ]:
# Solving for Total Purchase Value
sn_loc_sum = sn_loc_df.groupby('SN').sum()
sn_loc_sum

sn_price_sum = sn_loc_sum['Price']
sn_price_sum

In [ ]:
# Solving for average price
avg_purc_price = sn_price_sum / sn_purchase_count
avg_purc_price

In [1219]:
# Creating DataFrame to store information
spender = {"Purchase Count": sn_purchase_count, "Average Purchase Price": avg_purc_price, "Total Purchase Value": sn_price_sum}
top_spender = pd.DataFrame(spender)

# This part was pretty cool. Change the format of the values.
top_spender["Average Purchase Price"] = top_spender["Average Purchase Price"].map("${:.2f}".format)
top_spender["Total Purchase Value"] = top_spender["Total Purchase Value"].map("${:.2f}".format)
top_spender.sort_values(by='Purchase Count', ascending=False)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Iral74                    4                  $3.40               $13.62
Chamjask73                3                  $4.61               $13.83
Iskadarya95               3                  $4.37               $13.10

Most Popular Items

In [ ]:
# Create a dataframe with raw value so I can rearrange them and basis calculations
raw_pop_item = { "Item ID": gamer_data['Item ID'], "Item Name": gamer_data['Item Name'], "Purchase ID": gamer_data['Purchase ID'], "Price": gamer_data['Price']}
raw_pop_item_df = pd.DataFrame(raw_pop_item)
raw_pop_item_df.head()

In [ ]:
# Filtering for with two columns using groupby with a count, The count function witll help me later when solving for Purchase ID
pop_item_gb_count = raw_pop_item_df.groupby(['Item ID', 'Item Name']).count()
pop_item_gb_count

# Solving for purchase ID
fil_pop_item_count = pop_item_gb_count['Purchase ID']
fil_pop_item_count

In [ ]:
# Using the same groupby from above but use the max function instead, because I need to sum my price prices
pop_item_gb_max = raw_pop_item_df.groupby(['Item ID', 'Item Name']).max()
pop_item_gb_max

# Solving for item purchase value
fil_pop_item = pop_item_gb_max['Price']
fil_pop_item

In [ ]:
# Calculating the Total Purchase Value
pop_item_price_sum = fil_pop_item_count * fil_pop_item
pop_item_price_sum

In [1220]:
# Creating a DataFrame to store and show show all my data
most_popular_items = {"Purchase Count": fil_pop_item_count, "Item Price": fil_pop_item, "Total Purchase Value": pop_item_price_sum}
most_popular_items_df = pd.DataFrame(most_popular_items)

# Changing formatting here and sorting by Purchase Count
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map("${:.2f}".format)
most_popular_items_df["Total Purchase Value"] = most_popular_items_df["Total Purchase Value"].map("${:.2f}".format)
most_popular_items_df.sort_values(by='Purchase Count', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

Most Profitable Items

In [1233]:
# sorting with two columns here. excited to be finished :-) 
most_popular_items_df.sort_values(by=["Purchase Count", "Total Purchase Value"], ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16